* ~~get json data from endpoint /themes~~
* ~~create db table /themes~~
* ~~put data to df /themes~~
* add/update records in table /themes
* create db table /sets
* get latest timestamp from sets table /sets
* get json data from endpoint, order from newest to latest update /sets
* add to df only records latest then in table /sets 
* put data to df /sets
* get sets/{set_num}/parts for each set from df and put it to parts df /sets
* add/update records in table /sets
* create db table /parts
* add/update records in table /parts

In [28]:
from csv import *
from db_handler import *
from api_handler import *
import json
import pandas as pd

In [29]:
keys = json.load(open('keys.json'))
API_KEY = keys['API_KEY']

In [30]:
endpoints = ['themes']
dfs = {}
for endpoint in endpoints:
    dfs[f'{endpoint}'] = get_df_from_api(endpoint,API_KEY,'50')

In [31]:
dfs['themes']

     id  parent_id                            name
0     1        NaN                         Technic
1     3        1.0                     Competition
2     4        1.0                  Expert Builder
3    16        1.0                      RoboRiders
4    17        1.0                  Speed Slammers
..  ...        ...                             ...
3   738      501.0                        Seasonal
4   739      501.0  Stationery and Office Supplies
5   740      501.0                         Storage
6   741      501.0      Tabletop Games and Puzzles
7   742      501.0     Video Games and Accessories

[458 rows x 3 columns]

In [ ]:
table_statement = create_table_statement(dfs['themes'],'themes')

In [32]:
connection_data = json.load(open('connection_data.json'))
host_name = connection_data['host_name']
dbname = connection_data['dbname']
username = connection_data['username']
password = connection_data['password']
port = connection_data['port']
conn = None

conn = connect_to_db(host_name, dbname, username, password, port)

In [33]:
curr = conn.cursor()

In [ ]:
create_table(curr, table_statement)

In [36]:
conn.commit()

In [35]:
insert_into_table_themes(curr, dfs['themes'])